h1 {
    color: rgb(255, 0, 255);
    font-size: 200px;
    width: 20px;
    position: relative;
    left: 30%;
    transition: 2s;
}

h1:hover {
    color: rgb(18, 183, 205);
}

body {
    background: black;
}

.some {
    color: blue;
    font-size: 30px;
    opacity: 1;
    transition: 2s;
}

.some:hover {
    color: rgb(255, 0, 51);
}

.bg {
    background: rgb(224, 2, 224);
    width: 100px;
    height: 100px;
    opacity: 0;
}

.bg:hover {
    opacity: 1;
}

.test {
    width: 100%;
    height: 500px;
}

.test>img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 1s;
}

.test:hover>img {
    opacity: 1;
}

.text {
    color: rgb(0, 255, 47);
    font-size: 30px;
    transition: 2s;
}

.text:hover {
    color: blue;
}

.item {
    color: blue;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 500px;
    border: solid rgb(77, 255, 0);
}

.item>img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 1s;
}

.item:hover>img {
    opacity: 1;
}